<template name= "pins">
<div class="container">
  <h2>Pins Table</h2>
  <p>Table that keeps track of each farm pin</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date Added</th>
        <th>Name</th>
        <th>Verified</th>
        <th>Exp. Date</th>
        <th>Category</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4/20/1969</td>
        <td>Farmer Joe</td>
        <td>sure</td>
        <td>4/20/2021</td>
        <td>Farm</td>
        <td> Edit Button Goes here </td>
      </tr>
     
    </tbody>
  </table>
</div>
</template>