<template name= "pins">

{{>header}}

<div class="container">
  <h2>Pins Table</h2>
  <p>Table that keeps track of each farm pin</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date Added</th>
        <th>Name</th>
        <th>Verified</th>
        <th>Exp. Date</th>
        <th>Category</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>4/20/1969</td>
        <td>Farmer Joe</td>
        <td>Yes</td>
        <td>4/20/2021</td>
        <td>Farm</td>
        <td> <button type="button" class="btn btn-warning">Edit</button> </td>
      </tr>
      <tr>
        <td>4/20/1969</td>
        <td>Farmer Joe</td>
        <td>Yes</td>
        <td>4/20/2021</td>
        <td>Farm</td>
        <td> <button type="button" class="btn btn-warning">Edit</button> </td>
      </tr>

      <tr>
        <td>5/7/2016</td>
        <td>New Farmer</td>
        <td>No</td>
        <td>4/20/2021</td>
        <td>Farm</td>
        <td> <button type="button" class="btn btn-warning">Edit</button> </td>
      </tr>
    </tbody>
  </table>
</div>
</template>